@model ItemViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<tbody>

    <div class="wrapper">

        <nav class="usernav">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="LikedByUser">
                        <i class="fa-solid fa-star"></i>
                        <p>FAVORITER</p>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="MyProducts">
                        <i class="fa-solid fa-file"></i>
                        <p>MINA PRODUKTER</p>
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index"
                       asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <i class="fa-solid fa-file"></i>
                        <p>MINA UPPGIFTER</p>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="CheckOut">
                        <i class="fa-solid fa-file"></i>
                        <p>Buy products</p>
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Logout"
                       asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p>LOGGA UT</p>
                    </a>
                </li>
            </ul>
        </nav>

        <h2>Favoriter:</h2>
        <div class="grid-container">
            @foreach (var t in Model.userLikedItems)

            {
                <div class="item">

                    <div class="img-klass">
                        <img class="bild" src="@t.image" alt="Card image cap">
                    </div>

                    <div class="card-body">

                        <h3 class="card-title"><strong>Titel: @t.title</strong></h3>
                        <h3>Pris: @t.price kr</h3>
                        <p>Säljare: @t.username</p>

                        <div class="annonsknappar">
                            @*Ändra till UnLiked senare så man kan redoa sin like*@
                            <form method="post" asp-action="itemsUnLikedByUser" asp-controller="Home"
                            asp-route-id="@t.ProductID">
                                <button class="like-btn" type="submit">
                                    <i class="fa-solid fa-circle-minus"></i>
                                </button>
                            </form>
                            <form method="post" asp-action="addToCart" asp-controller="Home" asp-route-id="@t.ProductID">
                                <button class="buy-btn" type="submit">
                                    <i class="fa-solid fa-angles-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</tbody>
