@model ItemViewModel
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @foreach (var t in Model.singleItemList)
        {
    <div class="container">
        <div class="col-lg-8 border p-3 main-section bg-white">
            <div class="row hedding m-0 pl-3 pt-0 pb-3">
                @t.Title
            </div>
                    <div class="row m-0">
                        <div class="col-lg-4 left-side-product-box pb-3">
                            <img src="@t.Image" class="border p-3">
                        </div>
                        <div class="col-lg-8">
                            <div class="right-side-pro-detail border p-3 m-0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        @*<span>Who What Wear</span>*@
                                        <p class="m-0 p-0">@t.Title</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="m-0 p-0 price-pro">@t.Price kr</p>
                                        <hr class="p-0 m-0">
                                    </div>
                                    <div class="col-lg-12 pt-2">
                                        <h5>Product Detail</h5>
                                        <span>
                                            @t.Description
                                        </span>
                                        <hr class="p-0 m-0">
                                    </div>
                                    <div class="col-lg-12">
                                        @*<span>Who What Wear</span>*@
                                        <h5>Säljare:</h5>
                                        <span>
                                            @t.Username
                                        </span>
                                    </div>
                                    <div class="col-lg-12 pt-2">
                                        <h6>Color:</h6>
                                        <span>
                                            @t.Color
                                        </span>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <div class="row">
                                            <div class="col-lg-6 pb-2">
                                             <form method="post" asp-action="itemsLikedByUser" asp-controller="Home"
                                              asp-route-id="@t.ProductID">
                                                <button class="btn btn-success w-100" type="submit">
                                                    Gilla
                                                </button>
                                            </form>
                                            </div>
                                            <div class="col-lg-6">
                                                <form method="post" asp-action="addToCart" asp-controller="Home" asp-route-id="@t.ProductID">
                                                    <button class="btn btn-success w-100" type="submit">
                                                        Lägg i varukorg
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        @*<form method="post" asp-action="itemsLikedByUser" asp-controller="Home"
                                          asp-route-id="@t.ProductID">
                                        <button class="btn btn-success w-100" type="submit">
                                            Gilla
                                        </button>
                                    </form>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
        </div>
      </div>
    
        }